<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>SDABetApp</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section layout:fragment="content">
    <div>
        <h2>Pobierz mecze z zakresu 10 dni</h2>
        <form action="#" th:action="@{/update}" th:object="${matchDate}" method="post">
            <p>dateFrom: <input type="text" th:field="*{dateFrom}" /></p>
            <p>dateTo: <input type="text" th:field="*{dateTo}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
</section>
</body>
</html>
