<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title layout:title-pattern="SDABetApp - $CONTENT_TITLE">SDA Bet App</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        input.error {
            background-color: pink
        }
    </style>
</head>
<body>
<main role="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" th:if="${session.isLogin==null}">
                    <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
                </li>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" th:if="${session.isLogin==null}">
                        <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" th:if="${session.isLogin!=null}">
                        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" th:if="${session.isLogin!=null}">
                        <a class="nav-link" href="/bets">Your Bets <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" th:if="${session.isLogin!=null}">
                        <a class="nav-link" href="/scores">Scoreboard <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" th:if="${session.isLogin!=null && #httpSession.getAttribute('role')=='ADMIN'}">
                        <a class="nav-link" href="/panel">Admin Panel <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </ul>
            <div class="float-right">
                <div class="container">
                    <div class="row" th:if="${session.isLogin!=null}">
                        <div class="col-sm-8">Logged as:</div>
                        <div class="col-sm-4" th:text="${#httpSession.getAttribute('userName')}"></div>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <div layout:fragment="content">

    </div>
</main>
<hr>
<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>


</body>
</html>